body {
	background-color: #292b36;
	margin-right: 150 px;
}
span.bold {
	font-weight: bold;
}	
h1 {
	color: 
}
p {
	color: #d3d3d3;
	font-family: arial;
}
a#ao3 {
	text-decoration: none;
}
a#home {
	padding: 3px;
	border: #ba2b77 solid 2px;
	border-radius: 40px 40px 40px 40px;
	background: #ba2b77;
	text-decoration: none;
	color: #d3d3d3;
	text-align: center;
	font-family: arial;
}