h1.title a {
	/*font*/
	font-weight: none;
	font-style: none;
	
	/*text*/
	text-decoration: none;
	
	/*color*/
	color: #ffa500;
}

/*div*/
div.topbanner {
	/*text*/
	text-align: center;
	
	/*border*/
	padding: 20px;
	border: #ffd700 solid 5px;
	border-radius: 15px 15px 15px 15px;

}

div#cs {
	/*font*/
	font-family: "Courier New";
	font-weight: bold;
	font-size: 50px;
	
	/*text*/
	text-align: center;
}

/*span*/
span#code {
	color: #00eefd;
}

span#sheets {
	color: #fea000;
}

a#home {
	text-decoration: none;
	color: #00b3b3;
}

a#template {
	/*text*/
	text-align: center;
	text-decoration: none; /*removes link underlined*/
	
	/*color*/
	color: #ffffff;
	background-color: /*color around text*/;
	
	/*border*/
	border: /*color of border, same as background-color*/ solid 10px;
	border-radius: 40px 40px 40px 40px;
	padding: 3px;
	
	/*box*/
	box-shadow: 5px 4px /*darkened border color*/;
}

a#template:hover {
    /*font*/
    font-weight: bold;
    
	/*text*/
	text-align: center;
	text-decoration: none; /*removes underline*/
	
	/*color*/
	color: #ffffff;
	background-color: /*color around text*/;
	
	/*border*/
	border: /*color of border, same as background-color*/ solid 10px;
	border-radius: 40px 40px 40px 40px;
	padding: 3px;
	
	/*box*/
	box-shadow: 5px 4.5px /*darkened border color*/;
}

a#html {
	/*text*/
	text-align: center;
	text-decoration: none;
	
	/*color*/
	color: #ffffff;
	background-color: #02734a;
	
	/*border*/
	border: #02734a solid 10px;
	border-radius: 40px 40px 40px 40px;
	padding: 3px;
	
	/*box*/
	box-shadow: 5px 4.5px #025939;
}

a#html:hover {
    /*font*/
    font-weight: bold;
    
	/*text*/
	text-align: center;
	text-decoration: none; /*removes underline*/
	
	/*color*/
	color: #ffffff;
	background-color: #025e3c;
	
	/*border*/
	border: #025e3c solid 10px;
	border-radius: 40px 40px 40px 40px;
	padding: 3px;
	
	/*box*/
	box-shadow: 5px 4.5px #024633;
    padding: 3px;
}

a#css {
	/*text*/
	text-align: center;
	text-decoration: none;
	
	/*color*/
	color: #ffffff;
	background-color: #1034a6;
	
	/*border*/
	border: #1034a6 solid 10px;
	border-radius: 40px 40px 40px 40px;
	padding: 3px;
	
	/*box*/
	box-shadow: 5px 4.5px #05196D;
}

a#css:hover {
    /*font*/
    font-weight: bold;
    
	/*text*/
	text-align: center;
	text-decoration: none;
	
	/*color*/
	color: #ffffff;
	background-color: #1034a6;
    
	/*border*/
	border: #1034a6 solid 10px;
	border-radius: 40px 40px 40px 40px;
	padding: 3px;
	
	/*box*/
	box-shadow: 5px 4.5px #05196D;
}

a#js {
	/*text*/
	text-align: center;
	text-decoration: none;
	
	/*color*/
	color: #ffffff;
	background-color: #bf0404;
	
	/*border*/
	border: #bf0404 solid 10px;
	border-radius: 40px 40px 40px 40px;
	padding: 3px;
	
	/*box*/
	box-shadow: 5px 4px #990303;
}

a#js:hover {
	/*text*/
	text-align: center;
	text-decoration: none;
	
	/*color*/
	color: #ffffff;
	background-color: #bf0404;

    /*filter*/
    filter: brightness(90%);
    
	/*border*/
	border: #bf0404 solid 10px;
	border-radius: 40px 40px 40px 40px;
	padding: 3px;
	
	/*box*/
	box-shadow: 5px 4px #990303;
}

a#md {
	/*text*/
	text-align: center;
	text-decoration: none;
	
	/*color*/
	color: #ffffff;
	background-color: #825bb5;
	
	/*border*/
	border: #825bb5 solid 10px;
	border-radius: 40px 40px 40px 40px;
	padding: 3px;
	
	/*box shadow*/
	box-shadow: 5px 4px #6a4e9d;
}

a#md:hover {
	/*text*/
	text-align: center;
	text-decoration: none;
	
	/*color*/
	color: #ffffff;
	background-color: #825bb5;

    /*filter*/
    filter: brightness(90%);
    
	/*border*/
	border: #825bb5 solid 10px;
	border-radius: 40px 40px 40px 40px;
	padding: 3px;
	
	/*box shadow*/
	box-shadow: 5px 4px #6a4e9d;
}

a#py {
	/*text*/
	text-align: center;
	text-decoration: none; /*removes link underlined*/
	
	/*color*/
	color: #ffffff;
	background-color: #ffa500;
	
	/*border*/
	border: #ffa500 solid 10px;
	border-radius: 40px 40px 40px 40px;
	padding: 3px;
	
	/*box*/
	box-shadow: 5px 4.5px #ff7f00;
}

a#py:hover {
	/*text*/
	text-align: center;
	text-decoration: none; /*removes link underlined*/
	
	/*color*/
	color: #ffffff;
	background-color: #ffa500;

    /*filter*/
    filter: brightness(90%);
    
	/*border*/
	border: #ffa500 solid 10px;
	border-radius: 40px 40px 40px 40px;
	padding: 3px;
	
	/*box*/
	box-shadow: 5px 4.5px #ff7f00;
}

a#sp {
	/*text*/
	text-align: center;
	text-decoration: none; /*removes link underlined*/
	
	/*color*/
	color: #ffffff;
	background-color: #6666bb;
	
	/*border*/
	border: #6664ba solid 10px;
	border-radius: 40px 40px 40px 40px;
	padding: 3px;
	
	/*box*/
	box-shadow: 5px 4px #333399;
}

a#sp:hover {
    /*font*/
    font-weight: bold;
    
	/*text*/
	text-align: center;
	text-decoration: none; /*removes underline*/
	
	/*color*/
	color: #ffffff;
	background-color: #333399;
	
	/*border*/
	border: #333399 solid 10px;
	border-radius: 40px 40px 40px 40px;
	padding: 3px;
	
	/*box*/
	box-shadow: 5px 4.5px #000080;
}

a#history {
	/*text*/
	text-align: center;
	text-decoration: none;
	
	/*color*/
	color: #ffffff;
	background-color: #09b32e;
	
	/*border*/
	padding: 3px;
	border: #09b32e solid 10px;
	border-radius: 40px 40px 40px;
	
	/*box*/
	box-shadow: 5px 4.5px #089927;
}

a#history {
	/*text*/
	text-align: center;
	text-decoration: none;
	
	/*color*/
	color: #ffffff;
	background-color: #09b32e;

    /*filter*/
    filter: brightness(90%);
    
	/*border*/
	padding: 3px;
	border: #09b32e solid 10px;
	border-radius: 40px 40px 40px;
	
	/*box*/
	box-shadow: 5px 4.5px #089927;
}

a#about { /*Might be removed or changed*/
	/*text*/
	text-align: center;
	text-decoration: none;
	
	/*border*/
	color: #ffffff;
	background-color: #990599;
	
	/*border*/
	border: #990599 solid 10px;
	border-radius: 40px 40px 40px 40px;
	padding: 3px;
	
	/*box*/
	box-shadow: 5px 4.5px #730373;
}