body {
	background-color: #292b36;
	margin-right: 250px;
	margin-left: 10px;
}
h2 {
	font-family: cambria;
	color: #d3d3d3;
}
h3 {
	color: #cc29a6;
	font-family: cambria;
}
h4 {
	color: #b76e79;
	font-family: arial;
}
p {
	font-family: arial;
	color: #d3d3d3;
}
li {
	font-family: arial;
	font-size: 16px;
	color: #d3d3d3;
}
a.link {
	color: #ffffff;
	text-decoration-line: underline;
}
a#w3 {
	color: #55a69f;
}
a#home {
	padding: 5px;
	border: #ba2b77 solid 2px;
	border-radius: 40px 40px 40px 40px;
	background: #ba2b77;
	text-decoration: none;
	color: #d3d3d3;
	text-align: center;
	font-family: arial;
}
div.tables {
	padding: 1px;
	margin-right: 400px;
	margin-left: 5px;
	border: 2px solid #394680;
	border-radius: 5px 5px 5px 5px;
	background: #394680;
	box-shadow: 10px 10px #2e3866;
}
div.body {
	
}	
span.bold {
	font-weight: bold;
}
span.italic {
	font-weight: italic;
}
span.ib {
	font-weight: bold;
	font-weight: italic;
}
span.lan {
	color: #e68a99;
	border: 2px solid #000000;
	background: #000000;
	font-family: verdana;
	font-size: 15px;
	border-radius: 7px 7px 7px 7px;
}
span.code {
	color: #00a36c;
	border: 1px solid #000000; 
	background: #000000;
	font-family: consolas;
	border-radius: 9px 9px 9px 9px;
}
span.command {
	color: #00717f;
	border: 1px solid #000000;
	background: #000000;
	font-family: consolas;
	border-radius: 7px 7px 7px 7px;
}
span#h1 {
	font-family: courier;
	color: #ffa500;
}