@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.dropbnt {
	/*font*/
	font-size: 16px;
}

div.dropdown-content {
	background-color: /*#f1f1f1*/ #292b36;
}

span.lantext {
    /*fonts*/
    font-family: Verdana, sans-serif;
    font-size: 14px;
    
    /*color*/
	color: #e68a99;
    background: #000000;
    
    /*border*/
	border: 0.01px solid #000000;
	border-radius: 5px 5px 5px 5px;
}

span.codetext {
    /*font*/
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    
    /*text*/
    text-decoration: bold;
    
    /*color*/
	color: #00a36c;
    background: #000000;
    
    /*border*/
	border: 0.1px solid #000000; 
	border-radius: 5px 5px 5px 5px;
}

span.commandtext {
    /*font*/
    font-family: Monaco, monospace;
    
    /*text*/
    text-decoration: bold;
    
    /*color*/
	color: #00717f;
    background: #000000;
    
    /*border*/
	border: 0.1px solid #000000;
	border-radius: 5px 5px 5px 5px;
}